  @import url('https://fonts.googleapis.com/css2?family=Borel&family=Cherry+Cream+Soda&family=Croissant+One&family=Inconsolata:wght@200..900&family=Lobster&family=Lugrasimo&display=swap');

  * {
      padding: 0px;
      margin: 0px;
      box-sizing: 0px;

  }

  :root {
      --cor1: #CF8C5D;
      --cor2: #e2c1aa;
      --cor3: #FA9146;
      --cor4: #7A6B5F;
      --cor5: #331500;
      --COR6: rgb(241, 235, 214);
      --cor7: #160900;
  }



  .textao {
      background-color: var(--cor2);
      height: 770px;
      width: 100vw;


  }

  .primeiroaa {
      display: flex;
  }

  .divisaoDoTexto {
      margin: 10px;
      display: flex;

  }

  h3 {
      font-family: "Lugrasimo", cursive;
      font-weight: 400;
      font-style: normal;
  }

  #linhaStaly {
      width: 430px;
  }

  .linha {
      width: 100%;
      height: 2px;
      background-color: black;
      margin: 30px 10px;
  }

  #naoSeiQualNomeColocarMas {
      display: flex;
  }

  #meudeus {
      display: flex;
      justify-content: center;
      height: 100%;
      flex-grow: 1;

  }

  #topo {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 500px;
      height: 640px;

      background-image: url(img/Fotoram.io-removebg-preview.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 502px;

      border-radius: 50%;
  }

  .frasesMotivacional {
      font-family: "Lugrasimo", cursive;
      font-weight: 400;
      font-style: normal;
      margin-top: 50%;
      color: var(--cor5);
  }

  #nome {
      align-items: center;
      padding: auto;
      text-align: center;
      font-family: monospace;
      transform: scale(3.0);
      margin-top: 60%;
      color: var(--cor5);

  }

  img {
      display: block;
      height: 100%;
      border-radius: 03%;
  }

  #primeiroConteudo {
      height: 5%;
      background-color: var(--cor6);
  }


  /*a class atuação tem a ~ na letra a */
  .atuação {
      display: flex;
      flex-wrap: wrap;

  }

  .divDaImagem {
      color: aliceblue;
  }

  .cartao {
      text-align: center;

  }

  .tituloCartao {
      font-family: "Lugrasimo", cursive;
      font-weight: 400;
      font-style: normal;
      transform: scale(1.9);
      margin: 15px;
  }

  .cartaoGerao {
      display: block;
      margin: auto;
  }

  .descriçao {
      font-family: "Croissant One", serif;
      font-weight: 400;
      font-style: normal;
  }

  .imagemAtuaçao {
      width: 450px;
      height: 650px;
  }

  /*artigo sobre mim*/
  #eu {
      display: flex;
      height: 800px;
      background-color: var(--cor2);
      
  }
 #bof{
  margin: 20px;
 }
  #imagemWender {
      height: 80%;
      border-radius: 0px;
      margin: 10px auto ;
  }

  #euEsquerdo {
      text-align: center;
      width: 50%;
  }

  #euDireita {
      width: 50%;
      margin: 40px 50px;
  }
  .cartaoEu{
    width: 90%;
  }
  #quemSouEu {
      width: 90%;
  }

  .linhaEu {
      height: 2px;
      background-color: black;
      margin: 30px 10px;
      width: 90%;
  }
  #habilidadest{
    text-align: center;
  }
  #final{
    height: auto;
    background-color: white;
    
    
  }
  #conteinerEu1{
  display: flex;

  }
   #conteinerEu2{
  display: flex;

  }
  .conteinerEu001{
    width: 50%;
    margin: 20px;
  }
  .tituluEu{
    text-align: center;
    margin-bottom: 10px ;
}
  .habilidadesEu{
    text-align: justify;
  }


  #finalLista{
    display: flex;
    justify-content: center; 
    background-color: var(--cor2);
  }
  .lista010{
   
   list-style: none;
   margin: 30px;
 }
i{
    margin: 30px 50px;
}