* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    background-color: var(--cor5)
}

:root {
    --cor1: #002349;
    --cor2: #000000;
    --cor3: #3D72B8;
    --cor4: #A4C5F8;
    --cor5: #e3e9f3;
}

nav {
    position: sticky;
    top: 0;
    z-index: 2;
}

#topo {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--cor1);
    color: var(--cor1);
    margin: auto;
}

#linkRapido {
    color: red;
}

#logo {
    display: flex;
    flex-direction: row;

    background-color: var(--cor1);
}

#iconeContavel {
    height: 50px;
    color: var(--cor1);
}

h1 {
    background-color: var(--cor1);
    color: white;
}

#bosta {
    margin: 11px 11px;
}

#burgue {
    display: none;
    color: var(--cor5)
}

.linksRapidosMas {
    margin: auto;
    padding: 10px;
    background-color: var(--cor1);
    list-style: none;

}

.linksRapidosStaly {
    color: #c4d9f9;
}

a {
    background-color: var(--cor1);
}

i {
    background-color: var(--cor1)
}

section {
    height: 4000px;
}

#texto {

    flex-grow: 2;
    opacity: 0.8;
    overflow: hidden;
    width: 300px;
    height: 300px;

}

#ajusteDeImg {
    display: flex;
    flex-direction: center;
    justify-content: center;
    align-items: center;
    margin: 10%;
}

#imgConta {
    height: 350px;
    margin-right: 30px;
    box-shadow: 10px 10px 10px 10px var(--cor3);
    border-radius: 20px;
    border: 10px solid var(--cor4);
}

#rodape {
    background-color: var(--cor1);

}

#desktopCllr {
    display: none;
}

.some {
    display: none;
}



@media (min-width: 561px) and (max-width: 760px) {

    #imgConta {
        display: none;
    }

    #burgue {
        display: none;
    }

    #bosta {
        display: none;
    }

    #texto {
        display: none;
    }

}